@import './resst';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import './mixins';

$main-color:brown;

#auth-js {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;

    p:not(#user-js) {
        @include btn;
    }
}

#user-js {
    margin-right: auto;
}


.model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000008a;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;

    h2 {
        margin-bottom: 3rem;
        text-align: center;
    }

    * {
        margin-bottom: 1rem;
    }
}

.submit {
    color: $main-color;
    width: max-content;
    @include btn;
    margin-top: 2rem;
}


#title {
    width: 50%;
    margin: 3rem auto;
    text-align: center;
}

hr {
    width: 15%;
    margin: 1.5rem auto;
    height: 4px;
    background-color: $main-color;
    border: 1px solid;

    @include mobile {
        width: 30%;
    }
}

#todo-cont {
    background-color: white;
    padding: 1rem;
    box-shadow: 5px 5px 10px #e4e2e2, -5px -5px 10px #e4e2e2;
    margin: 1rem auto;

    @include mobile {
        width: 100%;
    }
}

input {
    border: none;
    border-bottom: 1px solid gray;
    transition: .4s;
    align-self: flex-end;
    font-size: 1.3rem;
    padding-bottom: .5rem;

    @include mobile {
        align-self: auto;
        width: 100%;
    }

    &:focus {
        outline: none;
        border-bottom: 1px solid $main-color;
    }
}



#in {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;

    & p {
        @include btn;
    }
}

#sub {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

#search input {
    width: 100%;
}



.list__item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid #decdb6;
}

.icons {
    i {
        padding: .2rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.hide {
    display: none;
}